---
export const prerender = true;
import { slugify } from "../scripts/utils";
import data from "../data.json";

import BaseLayout from "../layouts/BaseLayout.astro";

import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  const pages = data.map((country) => {
    return {
      params: { countryName: slugify(country.name) },
      props: { country },
    };
  });
  return pages;
}) satisfies GetStaticPaths;

const { country } = Astro.props;
---

<BaseLayout title={country.name}>
  <main>
    <header>
      <a class="back-link" href="/">
        <i class="fa-solid fa-arrow-left"></i>
        <span>back</span>
      </a>
    </header>

    <figure class="country">
      <picture>
        <img src={country.flag} alt={`Flag of ${country.name}`} width="500" />
      </picture>
      <figcaption>
        <h1>{country.name}</h1>
        <p>Native name: {country.nativeName}</p>
        <p>population: {country.population}</p>
        <p>region: {country.region}</p>
        <p>subregion: {country.subregion}</p>
        <p>capital: {country.capital}</p>
        <p>Top level domain: {country.topLevelDomain}</p>
        <p>
          currencies:
          <ul>
            {
              country.currencies ? (
                country.currencies.map((currency) => <li>{currency.name}</li>)
              ) : (
                <li>none</li>
              )
            }
          </ul>
        </p>
        {
          country.borders && (
            <p>
              border countries:
              <ul>
                {country.borders.map((border) => (
                  <li>{border}</li>
                ))}
              </ul>
            </p>
          )
        }
      </figcaption>
    </figure>
  </main>
</BaseLayout>

<style>
  main header {
    margin-block-end: 2rem;
  }

  .back-link {
    background: var(--element);
    color: inherit;
    text-decoration: none;
    padding: 1rem 2rem;

    box-shadow:
      0 1px 2px var(--shadow),
      1px 2px 5px var(--shadow);

    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: min-content;
  }

  .country {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
</style>
