---
import { slugify } from "../scripts/utils";
const { country } = Astro.props;
const { flag, name, capital, population, region } = country;
---

<li>
  <a href={slugify(name)} class="country-card">
    <picture>
      <img src={flag} alt={`Flag of ${name}`} width="200" height="100" />
    </picture>
    <article>
      <h2>{name}</h2>
      <p><span>population:</span> {population.toLocaleString()}</p>
      <p><span>region:</span> {region}</p>
      <p><span>capital:</span> {capital}</p>
    </article>
  </a>
</li>

<style>
  .country-card {
    color: inherit;
    text-decoration: none;

    background: var(--element);
    border-radius: 0.5rem;
    overflow: hidden;
    font-size: 0.875rem;
    margin: 0;
    height: 100%;

    box-shadow:
      0 2px 5px var(--shadow),
      2px 4px 8px var(--shadow);

    display: flex;
    flex-direction: column;
  }

  .country-card:hover {
    filter: invert(0.05);
  }

  .country-card picture {
    max-height: 15rem;
  }

  .country-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .country-card article {
    margin-block: auto 0;
    padding: 2rem;
  }

  .country-card span {
    font-weight: bold;
  }
</style>
