---
const { country } = Astro.props;
const { flag, name, capital, population, region } = country;
---

<li>
  <figure class="country-card">
    <picture>
      <img src={flag} alt={`Flag of ${name}`} width="200" />
    </picture>
    <figcaption>
      <h3>{name}</h3>
      <p>population {population}</p>
      <p>region {region}</p>
      <p>capital {capital}</p>
    </figcaption>
  </figure>
</li>

<style>
  .country-card {
    padding: 0.5rem;
    margin: 0;
    outline: 2px solid #ddd;
    height: 100%;
  }

  .country-card img {
    width: 100%;
  }
</style>
